<p class="team_name" style="background-color: <%= team.background_color %>">
  <b><%= link_to team.name, team %></b>
</p>

<p class="trainer_name">
  <b>Trainer:</b><br />
  <%= team.trainer_name %>
</p>

<p class="trainer_name">
  <b>Deputy trainer:</b><br />
  <%= team.deputy_trainer_name %>
</p>
