<h1>Editing team</h1>


<%= render :partial => "members/newest_member_list" %>
<%= render 'form', :team => @team, :departments => @departments, :trainers => @trainers, :deputy_trainers => @deputy_trainers %>

<div style="clear: both">
<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
</div>
