<h1>Editing department</h1>

<%= render 'form', :department => @department, :leaders => @leaders, :logistic_responsibles => @logistic_responsibles, :kit_manager => @kit_manager, :communication_responsibles => @communication_responsibles, :finance_responsibles => @finance_responsibles, :referees => @referees %>

<%= link_to 'Show', @department %> |
<%= link_to 'Back', departments_path %>
