<h1>Listing departments</h1>

<div style="clear:both">
  <%= link_to 'New Department', new_department_path %>
</div>

<%= render @departments %>

<br />

<div style="clear:both">
  <%= link_to 'New Department', new_department_path %>
</div>
