// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.official {
  background-color: lightgrey;
}

.member_list {
  border-style: dotted;
}

#newest_member_list {
  background-color: lightgrey;
  float: left;
}
